@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
  height: 100vh;
  background-color: #f6f7fb;
}

.container {
  text-align: center;
}

.progress-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 40rem;
  margin-bottom: 3rem;
}

.progress-container::before {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  background-color: var(--line-border-empty);
  transition: 0.4s ease;
}

.progress {
  position: absolute;
  height: 0.4rem;
  width: 0%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  background-color: var(--line-border-fill);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color: #999;
  border: 3px solid var(--line-border-empty);
  background-color: #fff;
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  font-family: inherit;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
  margin: 0.5rem;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
