@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --dark-clr: #999;
  --light-clr: #fff;
  --bg-clr: #f6f7fb;

  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-clr);

  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;

  position: relative;

  width: 40rem;
  max-width: 100%;
  margin-bottom: 3rem;
}

.progress-container::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 0;

  height: 0.4rem;
  width: 100%;
  z-index: -1;
  background-color: var(--line-border-empty);

  transform: translateY(-50%);
  transition: 0.4s ease;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;

  height: 0.4rem;
  width: 0%;
  z-index: -1;
  background-color: var(--line-border-fill);

  transform: translateY(-50%);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 3rem;
  border: 3px solid var(--line-border-empty);
  background-color: var(--light-clr);

  color: var(--dark-clr);

  transition: 0.4s ease;

  border-radius: 50%;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  padding: 0.8rem 3rem;
  margin: 0.5rem;

  border: none;
  background-color: var(--line-border-fill);

  font-family: inherit;
  font-size: 1.4rem;
  color: var(--light-clr);

  cursor: pointer;
  border-radius: 0.6rem;
}

.btn:active {
  transform: scale(0.96);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
